
.body_e
{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	VERTICAL-ALIGN: middle;
	COLOR: #2B3934;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	font-weight: normal;

}
.td_e
{
        background-color: #ffffff;
		COLOR: #2B3934;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		font-weight: normal;
		padding-right:2px;
		padding-left:2px;
}
.td_e_b
{
        BACKGROUND: #ffffff;
		BORDER-TOP: #000000 0px solid;
		BORDER-LEFT: #000000 0px solid;
		BORDER-RIGHT: #000000 1px solid;
		BORDER-BOTTOM: #000000 1px solid;		
		COLOR: #2B3934;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		FONT-SIZE: 10px;
		font-weight: normal;
		padding-right:2px;
		padding-left:2px;
}
.td_e_b_l
{
	BACKGROUND: #ffffff;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 10px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;	
}
.odd_td_e
{
	BACKGROUND: #f4f4f4;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	font-weight:normal;
	padding-left:2px;
	padding-right:2px;

}
.even_td_e
{
	BACKGROUND: #ffffff;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	font-weight:normal;
	padding-left:2px;
	padding-right:2px;
}
.odd_left_td_e
{
	BACKGROUND: #f4f4f4;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 10px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;	
}
.even_left_td_e
{
	BACKGROUND: #ffffff;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 10px;
	font-weight:normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;	
}
.total_td_e
{
	BACKGROUND: #ffffff;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 15px;
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;	
}


/*---------------------------------------- Caption FOR Input Type -----------------------------*/ 
.caption_e
{
	BACKGROUND: #f4f4f4;
	padding-right:2px;
	padding-left:2px;
	vertical-align:middle;
	COLOR: #2B3934;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
	font-weight:bold;
	text-align:right;
}
/*---------------------------------------- END ------------------------------------------------*/

/*---------------------------------- Spacial Cell -------------------------------------------*/
.title_cell_e
{
	BACKGROUND: #C0C0C0;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 12px;
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;
	text-align:center;
	VERTICAL-ALIGN: middle;
}

.sub_title_cell_e
{
	BACKGROUND: #f0f0f0;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 12px;
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;
	text-align:center;
	VERTICAL-ALIGN: middle;
}
.sub_title_cell_e_l
{
	BACKGROUND: #f0f0f0;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 12px;
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;
	text-align:center;
	VERTICAL-ALIGN: middle;
}


.title_cell_e_l
{
	BACKGROUND: #C0C0C0;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	FONT-SIZE: 12px;
	font-weight:bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-left:2px;
	padding-right:2px;
	text-align:center;
	VERTICAL-ALIGN: middle;
}
/*--------------------------------- END -------------------------------------------------------*/
/*---------------------------------------- Form Design ------------------------------------------*/ 

.header_cell_e
{
	height:28px;
	background-color:#C0C0C0;
	BORDER-TOP: #000000 2px solid;
	BORDER-LEFT: #000000 2px solid;
	BORDER-RIGHT: #000000 2px solid;
	BORDER-BOTTOM: #000000 2px solid;
	COLOR: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	font-weight:bold;		
	padding-left:10px;
	padding-right: 10px;
	VERTICAL-ALIGN: middle;
	
}


/*---------------------------------------------- END ---------------------------------------------*/
/*---------------------------------------------- Fonts -------------------------------------------*/
.body_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	FONT-SIZE: 10px;
}
.td_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	FONT-SIZE: 10px;
}
.odd_td_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	FONT-SIZE: 10px;
}
.even_td_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	FONT-SIZE: 10px;
}
.caption_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
}
.title_cell_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10px;
}
.header_cell_font_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}
/*---------------------------------------------- END ---------------------------------------------*/

.input_e
{
	VERTICAL-ALIGN: middle;
	background:#ffffff;
	border: 1px solid #486057;
	COLOR: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	font-weight: Normal;
}